---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test/agents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '28'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '28'
      x-accepted-oauth-scopes:
      - read_agents
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"95881cba4c80857206baa943bd534261"
    body:
      encoding: UTF-8
      string: '[{"id":"018a1453-7390-4148-958d-72ac5568f9c1","url":"https://api.buildkite.com/v2/organizations/dean-test/agents/018a1453-7390-4148-958d-72ac5568f9c1","web_url":"https://buildkite.com/organizations/dean-test/agents/018a1453-7390-4148-958d-72ac5568f9c1","name":"38cc41b56f5f-1","connection_state":"connected","ip_address":"<IP_ADDRESS>","hostname":"38cc41b56f5f","user_agent":"buildkite-agent/3.52.0.6806
        (linux; amd64)","version":"3.52.0","creator":null,"created_at":"2023-08-20T19:02:08.016Z","job":null,"last_job_finished_at":null,"priority":0,"meta_data":["queue=default"]}]

        '
  recorded_at: Sun, 20 Aug 2023 19:04:32 GMT
recorded_with: VCR 6.2.0
