---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/8/jobs/018a1486-a2d6-4d80-8204-b6cd3a1a18a5/artifacts/018a1486-bd2f-4e59-9211-2314043fca05
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '5'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '5'
      x-accepted-oauth-scopes:
      - read_artifacts
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"318dadaea95b3153172f6ae190e4b2ba"
    body:
      encoding: UTF-8
      string: '{"id":"018a1486-bd2f-4e59-9211-2314043fca05","job_id":"018a1486-a2d6-4d80-8204-b6cd3a1a18a5","url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/8/jobs/018a1486-a2d6-4d80-8204-b6cd3a1a18a5/artifacts/018a1486-bd2f-4e59-9211-2314043fca05","download_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/8/jobs/018a1486-a2d6-4d80-8204-b6cd3a1a18a5/artifacts/018a1486-bd2f-4e59-9211-2314043fca05/download","state":"finished","path":"README.md","dirname":".","filename":"README.md","mime_type":"text/markdown","file_size":1047,"glob_path":null,"original_path":null,"sha1sum":"60475b7055540d94dd42ef02bea675ae379cab21"}

        '
  recorded_at: Sun, 20 Aug 2023 20:02:55 GMT
recorded_with: VCR 6.2.0
