---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '48'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '48'
      x-accepted-oauth-scopes:
      - read_clusters
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"63e930263f8640e5ac81790509e70502"
    body:
      encoding: UTF-8
      string: '[{"id":"1705cf68-e513-4336-a3a6-0c30b160a0d6","graphql_id":"Q2x1c3RlclF1ZXVlLS0tMTcwNWNmNjgtZTUxMy00MzM2LWEzYTYtMGMzMGIxNjBhMGQ2","key":"default","description":"Automatically
        created when the cluster was created","url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues/1705cf68-e513-4336-a3a6-0c30b160a0d6","web_url":"https://buildkite.com/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues/1705cf68-e513-4336-a3a6-0c30b160a0d6","cluster_url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1","dispatch_paused":false,"dispatch_paused_by":null,"dispatch_paused_at":null,"dispatch_paused_note":null,"created_at":"2023-08-20T20:30:03.161Z","created_by":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"}}]

        '
  recorded_at: Sun, 20 Aug 2023 20:38:12 GMT
recorded_with: VCR 6.2.0
