---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/8/annotations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '38'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '38'
      x-accepted-oauth-scopes:
      - read_builds
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"23be76607a7827fbd5da2486becd69fb"
    body:
      encoding: UTF-8
      string: '[{"id":"018a1486-cc7b-4037-9cfc-6a1205130896","context":"default","style":"success","created_at":"2023-08-20T19:58:13.114Z","updated_at":"2023-08-20T19:58:13.114Z","body_html":"<p>✨
        <strong>You''ve run a build!</strong> ✨</p>\n<p>Ready for the next adventure?
        Create a pipeline for your own code. See <a href=\"https://buildkite.com/docs/pipelines/create-your-own\">the
        docs</a> to learn more.</p>\n"}]

        '
  recorded_at: Sun, 20 Aug 2023 20:28:23 GMT
recorded_with: VCR 6.2.0
