---
http_interactions:
- request:
    method: post
    uri: https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues
    body:
      encoding: UTF-8
      string: '{"key":"arm64"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '98'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '8'
      ratelimit-remaining:
      - '98'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '8'
      x-accepted-oauth-scopes:
      - write_clusters
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"f97391fda8c507cfd92aaecdffe268bb"
    body:
      encoding: UTF-8
      string: '{"id":"828f06ff-bb08-4258-8083-b6c65c7e2b29","graphql_id":"Q2x1c3RlclF1ZXVlLS0tODI4ZjA2ZmYtYmIwOC00MjU4LTgwODMtYjZjNjVjN2UyYjI5","key":"arm64","description":null,"url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues/828f06ff-bb08-4258-8083-b6c65c7e2b29","web_url":"https://buildkite.com/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/queues/828f06ff-bb08-4258-8083-b6c65c7e2b29","cluster_url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1","dispatch_paused":false,"dispatch_paused_by":null,"dispatch_paused_at":null,"dispatch_paused_note":null,"created_at":"2023-08-20T20:40:52.291Z","created_by":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"}}

        '
  recorded_at: Sun, 20 Aug 2023 20:40:52 GMT
recorded_with: VCR 6.2.0
