---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '98'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '11'
      ratelimit-remaining:
      - '98'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '11'
      x-accepted-oauth-scopes:
      - read_organizations
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"d6d72d4b5eb2161d604c0f5d90e71d18"
    body:
      encoding: UTF-8
      string: '{"id":"0187757d-a3c4-4466-8cdc-f83378a0a45f","graphql_id":"T3JnYW5pemF0aW9uLS0tMDE4Nzc1N2QtYTNjNC00NDY2LThjZGMtZjgzMzc4YTBhNDVm","url":"https://api.buildkite.com/v2/organizations/dean-test","web_url":"https://buildkite.com/dean-test","name":"Dean
        Test","slug":"dean-test","agents_url":"https://api.buildkite.com/v2/organizations/dean-test/agents","emojis_url":"https://api.buildkite.com/v2/organizations/dean-test/emojis","created_at":"2023-04-12T12:43:00.932Z","pipelines_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines"}

        '
  recorded_at: Sun, 20 Aug 2023 18:51:49 GMT
recorded_with: VCR 6.2.0
