---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/dean-test/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '95'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '11'
      ratelimit-remaining:
      - '95'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '11'
      x-accepted-oauth-scopes:
      - read_builds
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"ff63bf811879c3d722fc3811058b7351"
    body:
      encoding: UTF-8
      string: '[{"id":"018a1474-63cd-41f8-9b87-a66a72fe7034","graphql_id":"QnVpbGQtLS0wMThhMTQ3NC02M2NkLTQxZjgtOWI4Ny1hNjZhNzJmZTcwMzQ=","url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2","web_url":"https://buildkite.com/dean-test/starter/builds/2","number":2,"state":"passed","blocked":false,"blocked_state":"","message":"Merge
        pull request #2 from buildkite/add-next-steps-annotation\n\nAdd a next step
        in an annotation","commit":"bf46f7db3aa051ea3cab5ec8ad293c86d56cddeb","branch":"main","tag":null,"env":{},"source":"ui","author":null,"creator":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"},"created_at":"2023-08-20T19:38:06.680Z","scheduled_at":"2023-08-20T19:38:06.651Z","started_at":"2023-08-20T19:38:11.659Z","finished_at":"2023-08-20T19:38:19.015Z","meta_data":{"buildkite:git:commit":"commit
        bf46f7db3aa051ea3cab5ec8ad293c86d56cddeb\nabbrev-commit bf46f7d\nAuthor: Chris
        Campbell <chris.c@buildkite.com>\n\n    Merge pull request #2 from buildkite/add-next-steps-annotation\n    \n    Add
        a next step in an annotation"},"pull_request":null,"rebuilt_from":null,"pipeline":{"id":"018a1461-4b97-40cb-808c-e39c925f8157","graphql_id":"UGlwZWxpbmUtLS0wMThhMTQ2MS00Yjk3LTQwY2ItODA4Yy1lMzljOTI1ZjgxNTc=","url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter","web_url":"https://buildkite.com/dean-test/starter","name":"Starter","description":"","slug":"starter","repository":"https://github.com/deanpcmad/starter.git","cluster_id":null,"pipeline_template_uuid":null,"branch_configuration":null,"default_branch":"main","skip_queued_branch_builds":false,"skip_queued_branch_builds_filter":null,"cancel_running_branch_builds":false,"cancel_running_branch_builds_filter":null,"allow_rebuilds":true,"provider":{"id":"github","settings":{"build_branches":true,"build_merge_group_checks_requested":false,"build_pull_request_base_branch_changed":false,"build_pull_request_forks":false,"build_pull_request_labels_changed":false,"build_pull_request_ready_for_review":false,"build_pull_requests":true,"build_tags":false,"cancel_deleted_branch_builds":false,"filter_enabled":false,"prefix_pull_request_fork_branch_names":true,"publish_blocked_as_pending":false,"publish_commit_status_per_step":false,"publish_commit_status":true,"pull_request_branch_filter_enabled":false,"separate_pull_request_statuses":false,"skip_builds_for_existing_commits":false,"skip_pull_request_builds_for_existing_commits":true,"trigger_mode":"code","use_step_key_as_commit_status":false,"repository":"deanpcmad/starter"},"webhook_url":"https://webhook.buildkite.com/deliver/219aec4cd929385cb1213f8376c6b8e7b1be140db5301fdb4a"},"builds_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds","badge_url":"https://badge.buildkite.com/1423b12c563127ca73e4398ed4b917cccb66744f4660963a52.svg","created_by":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"},"created_at":"2023-08-20T19:17:15.287Z","archived_at":null,"env":{},"scheduled_builds_count":0,"running_builds_count":0,"scheduled_jobs_count":0,"running_jobs_count":1,"waiting_jobs_count":0,"visibility":"private","tags":null,"emoji":null,"color":null,"steps":[{"type":"script","name":":pipeline:","command":"buildkite-agent
        pipeline upload","artifact_paths":"","branch_configuration":"","env":{},"timeout_in_minutes":null,"agent_query_rules":[],"concurrency":null,"parallelism":null}]},"jobs":[{"id":"018a1474-63d7-41e2-8559-c61e0db71c13","graphql_id":"Sm9iLS0tMDE4YTE0NzQtNjNkNy00MWUyLTg1NTktYzYxZTBkYjcxYzEz","type":"script","name":":pipeline:","step_key":null,"priority":{"number":0},"agent_query_rules":[],"state":"passed","build_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2","web_url":"https://buildkite.com/dean-test/starter/builds/2#018a1474-63d7-41e2-8559-c61e0db71c13","log_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2/jobs/018a1474-63d7-41e2-8559-c61e0db71c13/log","raw_log_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2/jobs/018a1474-63d7-41e2-8559-c61e0db71c13/log.txt","artifacts_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2/jobs/018a1474-63d7-41e2-8559-c61e0db71c13/artifacts","command":"buildkite-agent
        pipeline upload","soft_failed":false,"exit_status":0,"artifact_paths":"","created_at":"2023-08-20T19:38:06.663Z","scheduled_at":"2023-08-20T19:38:06.663Z","runnable_at":"2023-08-20T19:38:06.743Z","started_at":"2023-08-20T19:38:11.659Z","finished_at":"2023-08-20T19:38:14.227Z","expired_at":null,"retried":false,"retried_in_job_id":null,"retries_count":null,"retry_source":null,"retry_type":null,"parallel_group_index":null,"parallel_group_total":null,"matrix":null,"agent":{"id":"018a1458-09d5-49bc-b52c-f951691cda4e","url":"https://api.buildkite.com/v2/organizations/dean-test/agents/018a1458-09d5-49bc-b52c-f951691cda4e","web_url":"https://buildkite.com/organizations/dean-test/agents/018a1458-09d5-49bc-b52c-f951691cda4e","name":"cfb62e5d9cea-1","connection_state":"connected","ip_address":"<IP_ADDRESS>","hostname":"cfb62e5d9cea","user_agent":"buildkite-agent/3.52.0.6806
        (linux; amd64)","version":"3.52.0","creator":null,"created_at":"2023-08-20T19:07:08.629Z","job":null,"last_job_finished_at":"2023-08-20T19:38:18.954Z","priority":0,"meta_data":["queue=default"]}},{"id":"018a1474-7c46-41e0-b1ce-27983dd02e2c","graphql_id":"Sm9iLS0tMDE4YTE0NzQtN2M0Ni00MWUwLWIxY2UtMjc5ODNkZDAyZTJj","type":"script","name":":construction_worker:
        Build","step_key":"build","priority":{"number":0},"agent_query_rules":[],"state":"passed","build_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter/builds/2","web_url":"https://buildkite.com/dean-test/starter/builds/2#018a1474-7c46[...]
