---
http_interactions:
- request:
    method: put
    uri: https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/7/jobs/018a147f-3801-464d-bfe2-d45b7cdb3178/unblock
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '19'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '19'
      x-accepted-oauth-scopes:
      - write_builds
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"8e16b359fb7e06dc543ad47de0413ace"
    body:
      encoding: UTF-8
      string: '{"id":"018a147f-3801-464d-bfe2-d45b7cdb3178","graphql_id":"Sm9iLS0tMDE4YTE0N2YtMzgwMS00NjRkLWJmZTItZDQ1YjdjZGIzMTc4","type":"manual","label":":rocket:
        Are we ready?","state":"unblocked","step_key":null,"web_url":null,"unblocked_by":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"},"unblocked_at":"2023-08-20T19:50:41.480Z","unblockable":false,"unblock_url":"https://api.buildkite.com/v2/organizations/dean-test/pipelines/starter-buildkite-pipeline/builds/7/jobs/018a147f-3801-464d-bfe2-d45b7cdb3178/unblock"}

        '
  recorded_at: Sun, 20 Aug 2023 19:50:41 GMT
recorded_with: VCR 6.2.0
