---
http_interactions:
- request:
    method: patch
    uri: https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/tokens/95ad0d3f-bc8b-430b-9550-3f755def0a79
    body:
      encoding: UTF-8
      string: '{"allowed_ip_addresses":"1.1.1.1"}'
    headers:
      Authorization:
      - Bearer <AUTHORIZATION>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '16'
      ratelimit-remaining:
      - '99'
      ratelimit-limit:
      - '100'
      ratelimit-reset:
      - '16'
      x-accepted-oauth-scopes:
      - write_clusters
      x-oauth-scopes:
      - read_agents,write_agents,read_clusters,write_clusters,read_teams,read_artifacts,write_artifacts,read_builds,write_builds,read_job_env,read_build_logs,write_build_logs,read_organizations,read_pipelines,write_pipelines,read_user,read_suites,write_suites
      etag:
      - W/"86bef868cb466b3db883b4b753ca71ca"
    body:
      encoding: UTF-8
      string: '{"id":"95ad0d3f-bc8b-430b-9550-3f755def0a79","graphql_id":"Q2x1c3RlclRva2VuLS0tOTVhZDBkM2YtYmM4Yi00MzBiLTk1NTAtM2Y3NTVkZWYwYTc5","description":"Windows
        Agents","url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1/tokens/95ad0d3f-bc8b-430b-9550-3f755def0a79","cluster_url":"https://api.buildkite.com/v2/organizations/dean-test/clusters/d346006f-74d3-4497-8a64-543ec5fefcc1","created_at":"2023-08-20T20:49:31.580Z","created_by":{"id":"984e6bf7-2523-4bf1-930b-58981572d65c","graphql_id":"VXNlci0tLTk4NGU2YmY3LTI1MjMtNGJmMS05MzBiLTU4OTgxNTcyZDY1Yw==","name":"Dean","email":"dean@deanpcmad.com","avatar_url":"https://www.gravatar.com/avatar/dd4d495ca7501f88b68a3702c0587e41","created_at":"2014-09-22T10:13:21.477Z"},"allowed_ip_addresses":"1.1.1.1"}

        '
  recorded_at: Sun, 20 Aug 2023 20:50:44 GMT
recorded_with: VCR 6.2.0
